{
  "extends": [
    "next",
    "next/core-web-vitals"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "key-spacing": [
      "error",
      {
        "beforeColon": true,
        "afterColon": true,
        "align": "colon"
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      },
      {
        "allowTemplateLiterals": true
      }
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "template-curly-spacing": [
      "error",
      "always"
    ],
    "react/jsx-curly-spacing": [
      1,
      "always"
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "eol-last": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      "never"
    ]
  }
}